@import 'tailwindcss';

@theme {
    --color-*: initial;

    --color-purple: #7b4ae2;
    --color-purple-100: #8f66e5;
    --color-rose: #c83267;
    --color-dark: #090e16;
    --color-green: #4ae290;
    --color-white: #fff;
    --color-black: #090e16;

    /* --font-sans: var(--font-montserrat); */
}

html {
    scroll-behavior: smooth !important;
}
